<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    style 
        include ../static/style.css
  </head>
  <body>
    <nav>
      <ul id="navbar">
        <li><a href="/">home</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/login">log in</a></li>
      </ul>

      <div id="logo">
        <img src="logo.jpg" alt="logo.." />
      </div>
    </nav>

    <div id="first">
      <div id="left">
        <img src="left1.jpg" alt="" />
    </div>
    <div id="right">
        <h1>welcome to our indusuty</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corrupti similique quasi neque ipsum hic ut dolores vel.</p>
        <div id="btns">
            <input class="btn" id="btn1" type="button" value="contact us">
            <input class="btn" id="btn2" type="button" value="about us">
        </div>
    </div>
    </div>
    <footer>
        <h1>all rights reserved&copy; </h1>
    </footer>
  </body>
</html>
