<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    style
         include ../static/style.css
  </head>
  <body>
    <nav>
      <ul id="navbar">
        <li><a href="/">home</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/login">log in</a></li>
      </ul>

      <div id="logo">
        <img src="logo.jpg" alt="logo.." />
      </div>
    </nav>
     <footer>
        <h1>all rights reserved&copy; </h1>
    </footer>
  </body>
</html>
